[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Dropbox
Comment=Sync your files across computers and to the web
Exec=dropbox50
Icon=dropbox
Type=Application
Categories=X-Xfce-Toplevel;
