[Desktop Entry]
Version=1.0
Type=Application
Exec=google-chrome https://manual.cs50.net/Fall_2012
Icon=help-contents
StartupNotify=false
Terminal=false
Categories=CS50;
Name=Fall 2012
