[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
general-log=/home/jharvard/logs/mysqld/localhost.log
log-error=/home/jharvard/logs/mysqld/localhost.err
slow-query-log=/home/jharvard/logs/mysqld/localhost-slow.log

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
