[Desktop Entry]
Name=gedit
GenericName=Text Editor
Comment=Edit text files
Exec=gedit -b %U
Terminal=false
Type=Application
StartupNotify=false
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=gedit Text Editor
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.0.6
X-GNOME-Bugzilla-ExtraInfoScript=/usr/libexec/gedit/gedit-bugreport.sh
X-Desktop-File-Install-Version=0.18
X-XFCE-Source=file:///usr/share/applications/gedit.desktop
